@import "global";
@import "vis";

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 12pt;
}

input[type="text"] {
  font-size: 12pt;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #ccc;
  //box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 6px;
}

.full_width_input {
    width: 100%;
}

.header{
  padding: 5px 0;
  border-bottom: solid 1px lightgray;
}

.mainPanel{
  display: table;
  width:100%;
}

.column{
  display: table-cell;
  vertical-align: top;
  padding-top: 10px;
}

.setup{
  text-align: right;
}

svg{
  display: block;
}