@import "global";
@import "vis";

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 10pt;
  margin: 0;
  background: $main-color;
}

input[type="text"] {
  font-size: 12pt;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  margin-top: 3px;
  display: inline-block;
  border: 1px solid #ccc;
  //box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 6px;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d4d4d4;

  li {
    float: left;

    a {
      display: block;
      color: #4a4a4a;
      text-align: center;
      padding: 4px 6px;
      text-decoration: none;
    }
    a:hover:not(.active) {
      background-color: #b3deff;
    }

    a.active {
      background-color: #80ccff;
    }

    &.right {
      float: right;
    }

  }

}

@media screen and (max-width: 400px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}

.full_width_input {
  width: 100%;
  //margin: 0 5px;
}

.header {
  padding: 5px;
  border-bottom: solid 1px lightgray;
}

.mainPanel {
  display: table;
  width: 100%;
}

.column {
  display: table-cell;
  vertical-align: top;
  padding-top: 10px;
}

.setup {
  text-align: right;
}

svg {
  display: block;
}

.scrollable{
  width: 100%;
  overflow: auto;
}