$main-color: #3fb391;
$abc: 12;

.small_line {
  fill: none;
  stroke: $main-color;
  pointer-events: none;
  stroke-width: 3px;
}

.measureWord {
  alignment-baseline: middle;
  text-anchor: middle;
  font-weight: bold;
  pointer-events: none;
}

.inWord {
  text {
    @extend .measureWord
  }
  rect {
    fill: #0a99ff;
    fill-opacity: .5;
  }
}


.outWord {
  text {
    @extend .measureWord
  }
  rect {
    fill: #ff9f23;
    fill-opacity: .5;
  }
}

.graph {
  path {
    fill: none;
    stroke: grey;
    opacity: .3;
  }
  path.highlight{
    opacity: .7;
    stroke: red;
    transition: .5s;
  }
}
