.rect_highlight, .inWord.highlight rect, .outWord.highlight rect, .wordprojector .word rect:hover {
  stroke: #d62f30;
  stroke-width: 2px; }

.small_line {
  fill: none;
  stroke: #fffdfa;
  pointer-events: none;
  stroke-width: 3px; }

.measureWord, .inWord text, .outWord text, .topKWord text {
  alignment-baseline: middle;
  text-anchor: middle;
  font-weight: bold;
  pointer-events: none; }

.inWord rect {
  fill: #5ba2ec;
  fill-opacity: .9; }
.inWord.selected text {
  fill: lightgray; }
.inWord.selected rect {
  fill: #4363aa;
  fill-opacity: 1; }

.outWord rect {
  fill: #f9d862;
  fill-opacity: 1; }

.topKWord rect {
  fill: #f9d862;
  fill-opacity: .6; }

.attn_graph path {
  fill: none;
  stroke: #6c7067;
  opacity: .3; }
.attn_graph.highlight path {
  opacity: .7;
  stroke: #d62f30; }

.state_line {
  fill: none;
  stroke: grey;
  opacity: .1; }
  .state_line:hover {
    opacity: .7;
    stroke: blue;
    transition: .5s; }

.state_axis line, .state_axis path {
  stroke: lightgrey; }
.state_axis text {
  fill: grey; }

.setup .bar {
  fill: #d4d4d4; }

.wordprojector {
  text-anchor: middle;
  opacity: .8;
  font-size: 8pt;
  font-weight: bold; }
  .wordprojector rect {
    fill: #fffdfa; }
  .wordprojector .word text {
    pointer-events: none;
    dominant-baseline: middle; }
  .wordprojector .word.selected text {
    fill: lightgray; }
  .wordprojector .word.selected rect {
    fill: #4363aa !important;
    fill-opacity: 1 !important; }

.close_word_list {
  alignment-baseline: middle;
  font-size: 15px;
  font-weight: bold; }
  .close_word_list .word {
    opacity: .6; }
    .close_word_list .word:hover {
      opacity: 1; }
  .close_word_list .scoreBar rect {
    fill: #6d859c; }
  .close_word_list .distBar rect {
    fill: #ffc466; }
  .close_word_list .barText {
    fill: #4a4a4a;
    opacity: 1;
    font-size: 9px;
    font-weight: bold;
    alignment-baseline: middle; }
  .close_word_list .wordComp {
    font-weight: 200; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 10pt;
  margin: 0;
  background: #fffdfa; }

input[type="text"] {
  font-size: 12pt;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  margin-top: 3px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 6px; }

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d4d4d4; }
  ul.topnav li {
    float: left; }
    ul.topnav li a {
      display: block;
      color: #4a4a4a;
      text-align: center;
      padding: 4px 6px;
      text-decoration: none; }
    ul.topnav li a:hover:not(.active) {
      background-color: #b3deff; }
    ul.topnav li a.active {
      background-color: #80ccff; }
    ul.topnav li.right {
      float: right; }

@media screen and (max-width: 400px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none; } }
.full_width_input {
  width: 100%; }

.header {
  padding: 5px;
  border-bottom: solid 1px lightgray; }

.mainPanel {
  display: table;
  width: 100%; }

.column {
  display: table-cell;
  vertical-align: top;
  padding-top: 10px; }

.setup {
  text-align: right; }

svg {
  display: block; }

/*# sourceMappingURL=main.css.map */
