@import "global";

$encoder-color-ref: #4363aa;
$encoder-color: #5ba2ec;
$decoder-color: #f9d862;
$attn-color: #6c7067;
$highlight-color: #d62f30;

.rect_highlight {
  stroke: $highlight-color;
  stroke-width: 2px;
  //stroke-dasharray: 1,1;
}

.small_line {
  fill: none;
  stroke: $main-color;
  pointer-events: none;
  stroke-width: 3px;
}

.measureWord {
  alignment-baseline: middle;
  text-anchor: middle;
  font-weight: bold;
  pointer-events: none;
}

.inWord {
  text {
    @extend .measureWord
  }
  rect {
    fill: $encoder-color;
    fill-opacity: .9;
  }

  &.selected {
    text {
      fill: lightgray;
    }

    rect {
      fill: $encoder-color-ref;
      fill-opacity: 1;
    }
  }

  &.highlight rect {
    @extend .rect_highlight
  }

}

.outWord {
  text {
    @extend .measureWord
  }
  rect {
    fill: $decoder-color;
    fill-opacity: 1;
  }

  &.highlight rect {
    @extend .rect_highlight
  }
}

.topKWord {
  text {
    @extend .measureWord
  }
  rect {
    fill: $decoder-color;
    fill-opacity: .6;
  }
}

.attn_graph {
  path {
    fill: none;
    stroke: $attn-color;
    opacity: .3;
    //transition: .5s;
  }
  &.highlight path {
    opacity: .7;
    stroke: $highlight-color;
    //transition: .5s;
  }
}

.state_line {

  fill: none;
  stroke: grey;
  opacity: .1;

  &:hover {
    opacity: .7;
    stroke: blue;
    transition: .5s;
  }
}

.state_axis {
  line, path {
    stroke: lightgrey;
  }
  text {
    fill: grey;
  }
}

.setup {
  .bar {
    fill: #d4d4d4;
  }
}

.wordprojector {
  //text {
  //dominant-baseline: middle;
  text-anchor: middle;
  opacity: .8;
  font-size: 8pt;
  font-weight: bold;

  rect {
    fill: $main-color;
  }

  .word {
    text {
      pointer-events: none;
       dominant-baseline: middle;
    }

    rect:hover {
      @extend .rect_highlight
    }

    &.selected {
      text {
        fill: lightgray;
      }

      rect {
        fill: $encoder-color-ref !important;
        fill-opacity: 1 !important;

      }
    }

  }

  //}
}

.close_word_list {
  alignment-baseline: middle;
  font-size: 15px;
  font-weight: bold;
  .word {
    opacity: .6;
    &:hover {
      opacity: 1
    }

  }

  .scoreBar {
    rect {
      fill: #6d859c;
    }

  }

  .distBar {
    rect {
      fill: #ffc466;
    }

  }
  .barText {
    fill: #4a4a4a;
    opacity: 1;
    font-size: 9px;
    font-weight: bold;
    alignment-baseline: middle;
  }

  .wordComp {
    font-weight: 200;
  }
}