@import "global";

$encoder-color-ref: #4363aa;
$encoder-color: #5ba2ec;
$decoder-color: #f9d862;
$attn-color: #6c7067;
$highlight-color: #d62f30;

.rect_highlight {
  stroke: $highlight-color;
  stroke-width: 2px;
  //stroke-dasharray: 1,1;
}

.small_line {
  fill: none;
  stroke: $main-color;
  pointer-events: none;
  stroke-width: 3px;
}

.measureWord {
  alignment-baseline: middle;
  text-anchor: middle;
  font-weight: bold;
  pointer-events: none;
}

.inWord {
  text {
    @extend .measureWord
  }
  rect {
    fill: $encoder-color;
    fill-opacity: .9;
  }

  &.selected {
    text {
      fill: lightgray;
    }

    rect {
      fill: $encoder-color-ref;
      fill-opacity: 1;
    }
  }

  &.highlight rect {
    @extend .rect_highlight
  }

}

.outWord {
  text {
    @extend .measureWord
  }
  rect {
    fill: $decoder-color;
    fill-opacity: 1;
  }

  &.highlight rect {
    @extend .rect_highlight
  }
}

.topKWord {
  text {
    @extend .measureWord
  }
  rect {
    fill: #aaa;
    fill-opacity: .6;
  }
}

.attn_graph {
  path {
    fill: none;
    stroke: $attn-color;
    opacity: .3;
    //transition: .5s;
  }
  &.highlight path {
    opacity: .7;
    stroke: $highlight-color;
    //transition: .5s;
  }
}

.state_line {

  fill: none;
  stroke: grey;
  opacity: .1;

  &:hover {
    opacity: .7;
    stroke: blue;
    transition: .5s;
  }
}

.state_axis {
  line, path {
    stroke: lightgrey;
  }
  text {
    fill: grey;
  }
}

.setup {
  .bar {
    fill: #d4d4d4;
  }
}

.wordprojector {
  //text {
  //dominant-baseline: middle;
  text-anchor: middle;
  opacity: .8;
  font-size: 8pt;
  font-weight: bold;

  rect {
    fill: $main-color;
  }

  .word {
    text {
      pointer-events: none;
      dominant-baseline: middle;
    }

    rect:hover {
      @extend .rect_highlight
    }

    &.selected {
      text {
        fill: lightgray;
      }

      rect {
        fill: $encoder-color-ref !important;
        fill-opacity: 1 !important;

      }
    }

  }

  //}
}

.close_word_list {
  alignment-baseline: middle;
  font-size: 15px;
  font-weight: bold;
  .word {
    opacity: .6;
    &:hover {
      opacity: 1
    }

  }

  .scoreBar {
    rect {
      fill: #6d859c;
    }

  }

  .distBar {
    rect {
      fill: #ffc466;
    }

  }
  .barText {
    fill: #4a4a4a;
    opacity: 1;
    font-size: 9px;
    font-weight: bold;
    alignment-baseline: middle;
  }

  .wordComp {
    font-weight: 200;
  }
}

.neighborState {
  rect {
    fill: #d3d3d3
  }
  .line {
    stroke: #1d5e85;
    stroke-opacity: .2;
  }

}

.stateprojector {
  .pp {
    opacity: .3;

    &:hover {
      opacity: .9;
    }
    &.selected {
      stroke: #9c605f;
      stroke-width: 2px;
      opacity: 1;
    }

  }
  .pl {
    fill: none;
    stroke: cadetblue;
    stroke-width: 2px;
    stroke-opacity: .3;
    &.pl_1 {
      stroke: #9e9e5f;
    }

  }

  .plPoint {
    fill: cadetblue;
    fill-opacity: .3;
    &.pl_1 {
      fill: #9e9e5f;
    }

    &.selected {
      stroke: #9c605f;
    }
  }

  .plLabel {
    text-anchor: middle;
    pointer-events: none;
    font-weight: bold;
    opacity: .5;
  }

  .endPoint {
    fill: #9c605f !important;
  }
  .startPoint {
    fill: #7d9c5f !important;
  }

  .hoverLine {
    fill: none;
    stroke: #9c605f;
    opacity: .1;
    stroke-width: 2px;
    pointer-events: none;

  }

  .highlightRect {
    stroke: #9c605f;
    stroke-width: 2px;
    fill: none;
    stroke-opacity: .5;
  }

}

.info_panel {

  .translation {
    font-weight: bold;
    padding-bottom: 8px;
  }

  .menu {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    //background-color: lightgrey;

    .show_src {
      //background-color: #adc2d9;
      border: 2px #5793d9 solid;

      &.selected {
        background-color: #5793d9;

      }

    }
    .show_tgt {
      border: 2px #f9d862 solid;

      &.selected {
        background-color: #f9d862;

      }
    }

    .show_btn {
      padding: 6px 8px; // to adjust for borders !!
    }

    .offset_btn {
      background-color: lightgrey;
      &.selected {
        background-color: #9c605f;
      }
    }

  }

  .src {
    padding: 3px;
    background-color: rgba(87, 147, 217, 0.39);
  }
  .tgt {
    padding: 3px;
    background-color: rgba(233, 200, 97, 0.42);
  }

  .highlight {
    padding: 1px;
    color: white;
    background-color: #9c605f;
  }
}

.pCanvasFrame {
  display: inline-block;
  padding: 5px;
  text-align: center;

  .pCanvas {
    border: #d3d3d3 2px solid;
  }
  div {
    font-weight: bold;
  }

  &.selected {

    .pCanvas {
      border: #9c605f 2px solid;
    }
    div {
      color: #9c605f;
    }

  }

}

.beamtreevis {
  .node {
    font-weight: bold;
    //&.topBeam {
    //  fill: #9c605f;
    //}

  }
  .link {
    fill: none;
    stroke: #5793d9;
    stroke-width: 2px;
    opacity: .5;
    &.topBeam {
      stroke: #9c605f;
      stroke-width: 3px;
    }
  }

}

.btn {
  font-weight: bold;
  padding: 8px 8px;
  cursor: pointer;
}

.btn_left {
  border-radius: 5px 0 0 5px;
}

.btn_right {
  border-radius: 0 5px 5px 0;
}


